*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    /* color: white; */
}
#string{
    height: 200px;
    width: 100%;
    /* background-color: red; */
}

/* svg{ */
    /* background-color: red; */
    
/* } */